.faq-container {
    width: 100%;
    padding-left: 7vw;
    padding-right: 7vw;
    max-width: 1500px;
    margin: 0 auto;
    margin-top: max(50px, 4vw);
    box-sizing: border-box;

    h2 {
        font-size: 3em;
        color: white;
        margin-bottom: 1em;
    }
}

.faq-item {
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
    padding: 25px 0;
}

.faqButton {
    margin-top: 50px;
    display: inline-block;
}

.faq-question {
    cursor: pointer;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(1em, 1vw, 1.5em);
}

.faq-question:hover {
    color: #007acc;
}

.faq-answer {
    margin-top: 20px;
    padding-left: 20px;
    line-height: 1.6;
    text-align: left;
    font-weight: 300;
    font-size: clamp(0.75em, 0.75vw, 1.25em);
    color: rgb(128, 123, 135);
}

.toggle-indicator {
    margin-left: 10px;
    font-size: 0.8em;
}

.video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease, opacity 0.3s ease;
    z-index: 1000;
}

.video-overlay.visible {
    background: rgba(0, 0, 0, 0.8);
    opacity: 1;
}

.video-container {
    position: relative;
    width: 90vw;
    max-width: 800px;
    height: 45vw;
    max-height: 500px;
    min-height: 300px;
    margin: 0 auto;
}

.video-container iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}