.preFooterContainer {
    margin-top: max(25px, 4vw);
    margin-bottom: max(50px, 4vw);
    width: 100%;
    display: flex;
    justify-content: center;
}

.preFooter {
    padding-left: 7vw;
    padding-right: 7vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    justify-content: space-between;
}

.preFooterTitle {
    margin-top: 0.75vw;
    font-size: clamp(1.25em, 2.5vw, 3em);
    color: white;
    margin-bottom: 1vw;
}

.preFooterSubtitle {
    margin: 0;
}

.preFooterText {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    text-align: left;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn {
    padding-top: clamp(0.25rem, 1vw, 0.75rem);
    padding-bottom: clamp(0.25rem, 1vw, 0.75rem);
    padding-left: clamp(1rem, 2vw, 1.5rem);
    padding-right: clamp(1rem, 2vw, 1.5rem);
    font-size: clamp(0.75rem, 2.75vw, 1.25rem);
    font-weight: 500;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.primary {
    background: linear-gradient(180deg, #2E68FF 15%, #6691FF 100%);
    color: #fff;
    border: none;
}

.secondary {
    background-color: transparent;
    color: white;
    border: 1px solid rgb(46, 104, 255);
}

@media screen and (max-width: 700px) {
    .preFooter {
        flex-direction: column;
    }

    .preFooterText {
        margin-right: 0;
        text-align: center;
        margin-bottom: max(33px, 3vw);
    }
}