.hero {
    margin-top: 15%;
    position: relative;
}


.button-row {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 4vw;
}

.btn {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.primary {
    background: linear-gradient(180deg, #2E68FF 15%, #6691FF 100%);
    color: #fff;
    border: none;
}

.secondary {
    background-color: transparent;
    color: white;
    border: 1px solid rgb(46, 104, 255);
}

.calendar-mask {
    width: 100%;
    margin: 15% auto;
    display: block;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.bottom-section {
    position: absolute;
    bottom: -250px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.kami-container {
    width: 300px;
}

.preRegistration {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.25;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
    color: #fff;
    text-align: left;
}

.info-container .button-row {
    margin-top: 1rem;
}

@media screen and (max-width: 600px) {
    .btn {
        padding: 0.5rem 0.75rem;
        font-size: 0.95rem;
    }
}