svg path {
    box-shadow: 2px 10px 2px black;
}

.st0 {
    fill: black;
}

#main {
    display: block;
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    animation: turn 2.5s infinite linear;
    margin: auto;
    top: 20%;
    height: 250px;
    width: 250px;
}

.coin {
    display: block;
    position: absolute;
    width: 95%;
    height: 95%;
    -webkit-transform-style: preserve-3d;
    background: radial-gradient(#34AADC, #337FF5, black);
    border-radius: 50%;
    border: 5px solid #34AADC;
}


#child {
    -webkit-transform: translateZ(0px);
}

/* Add the child transformations */
#child1 {
    -webkit-transform: translateZ(-10px);
}

#child2 {
    -webkit-transform: translateZ(-5px);
}

#child3 {
    -webkit-transform: translateZ(-2px);
}

#child4 {
    -webkit-transform: translateZ(-8px);
}

#child5 {
    -webkit-transform: translateZ(-12px);
}

#child6 {
    -webkit-transform: translateZ(-14px);
}

#child7 {
    -webkit-transform: translateZ(-16px);
}

#child8 {
    -webkit-transform: translateZ(-18px);
}

@keyframes turn {
    0% {
        transform: rotateY(-180deg);
    }

    100% {
        transform: rotateY(180deg);
    }
}