#root {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.sub {
  color: rgb(46, 104, 255);
  font-size: clamp(1em, 0.75vw, 1.25rem);
  font-weight: 500;
}

.postHeroLine {
  margin-top: 225px;
}