@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: Inter, Avenir, Montserrat, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: radial-gradient(circle 800px at 10% 18%, rgba(42, 11, 67, 0.7) 0%, transparent 80%), radial-gradient(circle 800px at 80% 13%, rgb(68, 138, 255, 0.2) 0%, transparent 80%), radial-gradient(circle 800px at 10% 60%, rgba(42, 11, 67, 0.4) 0%, transparent 80%), radial-gradient(circle 800px at 20% 70%, rgb(68, 138, 255, 0.2) 0%, transparent 80%), radial-gradient(circle 800px at 80% 20%, rgba(42, 11, 67, 0.5) 0%, transparent 80%), radial-gradient(circle 800px at 80% 60%, rgba(42, 11, 67, 0.5) 0%, transparent 80%), #0A0118;
}

h1 {
  font-size: clamp(1.75em, 3.5vw, 4.5em);
  line-height: 1.1;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

h3 {
  color: rgb(128, 123, 135);
  font-family: Inter;
  font-weight: 500;
  font-size: clamp(1em, 1vw, 1.5em);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 0.67em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s, opacity 1s;

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

::-webkit-scrollbar {
  width: 14px;
  height: 56px;
  margin-right: 10px;
  background: rgba(21, 23, 45, 0.37);
}

::-webkit-scrollbar-thumb {
  flex-shrink: 0;
  border-radius: 100px;
  border: 0.5px solid rgba(255, 255, 255, 0.11);
  background: rgba(21, 23, 45, 0.37);
  backdrop-filter: blur(2px);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background: rgba(21, 23, 45, 0.37);
}